/*font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;*/
body {
  font-family: "Nunito", sans-serif;
}

.hero {
  background-image: url(/media/overlay.png);
}
.home-header {
  font-size: 60px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.home-description {
  font-weight: 600;
  color: white;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.bgimg {
  margin-top: 20px;
  width: 100%;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.active {
  color: #662edd !important;
}

.home-content {
  margin-top: 80px;
}

footer {
  background-color: #f9f7fe;
}

@media (max-width: 576px) {
  .home-header {
    font-size: 30px;
  }
  .home-description {
    font-size: 10px;
    width: 300px;
  }
  h4 {
    font-size: 15px;
  }
}
