/*font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;*/
body {
  font-family: "Nunito", sans-serif;
}

.hero {
  background-image: url(/media/overlay.png);
}
.home-header {
  font-size: 60px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.home-description {
  font-weight: 600;
  color: white;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.bgimg {
  margin-top: 20px;
  width: 100%;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.active {
  color: #662edd !important;
}

.home-content {
  margin-top: 80px;
}

.footer {
  font-size: 15px;
}

.footer-section {
  background-color: #f9f7fe;
}
.about-header {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

.about-name {
  font-size: 64px;
  font-weight: bold;
}

.about-content {
  font-size: 18px;
  line-height: 30px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 18px;
}
hr {
  display: block;
  color: black;

  border-style: inset;
  border-width: 1px;
  border: 1px dashed #a0e5e3;
}
.contact {
  color: #662eed;
}

.step {
  color: #f65282;
}
@media (max-width: 576px) {
  .home-header {
    font-size: 30px;
  }
  .home-description {
    font-size: 10px;
    width: 300px;
  }
  h4 {
    font-size: 15px;
  }
  p.footer {
    font-size: 10px;
  }
  .about-header {
    font-size: 35px;
  }

  .about-name {
    font-size: 30px;
    font-weight: bold;
  }

  .about-content {
    font-size: 10px;
    line-height: 15px;
  }
  .footer {
    font-size: 8px;
  }

  h3 {
    font-size: 16px;
  }
  p {
    font-size: 10px;
  }
}
@media (min-width: 577px) {
  .about-section {
    margin: 100px 180px;
  }
}
